Source: emacs-goodies-el
Section: editors
Priority: optional
Maintainer: Peter S Galbraith <psg@debian.org>
Uploaders: Roland Mas <lolando@debian.org>
Build-Depends-Indep: debhelper (>= 4.0.0), dpatch (>=1.5), texinfo
Standards-Version: 3.6.1

Package: emacs-goodies-el
Architecture: all
Depends: emacs21 | emacsen, bash (>= 2.05a)
Recommends: bash (>= 2.05a), dict, wget
Replaces: emacs-goodies-extra-el
Conflicts: emacs-goodies-extra-elD
Provides: emacs-goodies-extra-el
Description: Miscellaneous add-ons for Emacs
 This package contains a number of Emacs-Lisp files, obtained from
 various sources, including the gnu.emacs.sources newsgroup and a few
 websites, that provide various functions to Emacs.
 .
 This package contains:
  align-string.el: align string components over several lines;
  all.el: edit all lines matching a given regexp;
  auto-fill-inhibit.el: finer grained control over auto-fill-mode;
  bar-cursor.el: change your cursor to a bar instead of a block;
  boxquote.el: quote texts in nice boxes;
  browse-kill-ring.el: browse, search, modify the kill ring;
  clipper.el: save strings of data for further use;
  coffee.el: now Emacs can even brew coffee;
  cyclebuffer.el: select buffer by cycling through;
  df.el: display in the mode line space left on devices;
  dict.el: wrapper around the 'dict' command. (Depends on bash and dict)
  diminish.el: shorten or erase modeline presence of minor modes;
  dirvars.el: provides directory-wide local variables;
  egocentric.el: highlight your name inside emacs buffers;
  ff-paths.el: $PATH-like searching in C-x C-f;
  filladapt.el: enhances Emacs's built-in adaptive fill;
  floatbg.el: slowly modify background color;
  highlight-beyond-fill-column: highlight lines that are too long;
  highlight-completion.el: highlight completions in the minibuffer;
  highlight-current-line.el: highlight line where the cursor is;
  home-end.el: alternative Home and End commands;
  htmlize.el: HTML-ize font-lock buffers;
  ibuffer.el: advanced replacement for the `buffer-menu';
  initsplit.el: split customizations into different files;
  keydef.el: a simpler way to define key mappings;
  keywiz.el: Emacs key sequence quiz;
  map-lines.el: map a command over lines matching a regexp;
  mutt-alias.el: lookup and insert the expansion of mutt mail aliases;
  muttrc-mode.el: major mode for editing Mutt config files;
  newsticker.el: a newsticker for Emacs. (Depends on wget)
  nuke-trailing-whitespace.el: kill the trailing blanks at end of lines;
  obfusurl.el: obfuscate an URL;
  perldoc.el: show help for Perl functions, builtins, and modules;
  projects.el: create project-based meaningful buffer names;
  prot-buf.el: protect buffers from accidental killing;
  protocols.el: perform lookups in /etc/protocols;
  services.el: perform lookups in /etc/services;
  setnu.el: setnu-mode, a vi-style line number mode;
  silly-mail.el: generate bozotic mail headers;
  sys-apropos.el: interface for the *nix apropos command;
  table.el: create and edit WYSIWYG text based embedded tables;
  tail.el: "tail -f" a file or a command form within Emacs;
  tc.el: cite text with proper filling;
  thinks.el: quote texts in cartoon-like think bubbles;
  tld.el: explain top-level domain names;
  todoo.el: major mode for editing TODO files;
  toggle-buffer.el: fast switching between two buffers;
  toggle-case.el: a set of functions to toggle the case of characters;
  toggle-option.el: easily toggle frequently toggled options;
  twiddle.el: mode line hacks to keep you awake;
  under.el: underline a region with ^ characters;
  wdired.el: rename files editing their names in dired buffers;
  xrdb-mode.el: mode for editing X resource database files.
 .
 See /usr/share/doc/emacs-goodies-el/README.Debian.gz for a short
 description of all files, or the Info node `emacs-goodies-el' for details.

Package: gnus-bonus-el
Architecture: all
Depends: emacs21 | emacsen, gnus | emacs21 | emacs20 | xemacs21
Section: news
Description: Miscellaneous add-ons for Gnus
 This package contains a few Emacs-Lisp files, obtained from various
 sources, including the gnu.emacs.sources newsgroup and a few
 websites, that provide various functions to Gnus, the Emacs mail and
 news reader.
 .
 This package contains:
  gnus-junk.el: semi-automatic replies to junk e-mails;
  message-x.el: customizable completion in message headers;
  nnir.el: searchable mail backend;
  nnmaildir.el: maildir mail backend;
  nnnil.el: empty, read-only backend;
  nntodo.el: manage to-do items;
  spam-stat.el: spam-detector based on statistics.
 .
 See /usr/share/doc/gnus-bonus-el/README.Debian.gz for a short
 description of all files.

Package: devscripts-el
Architecture: all
Depends: emacs21 | emacsen, bash (>= 2.05a), devscripts, dpkg-dev-el
Description: Emacs wrappers for the commands in devscripts
 This package contains few Emacs-Lisp files, that provide various
 functions to Emacs.  The files in this package depend on the external
 "devscripts" package.
 .
 This package contains:
  devscripts.el: wrappers around the debuild, debc and debi commands;
 .
 See /usr/share/doc/devscripts-el/README.Debian.gz for a short
 description of all files.

Package: debian-el
Architecture: all
Depends: emacs21 | emacsen, reportbug (>= 1.41.1)
Recommends: wget, dlocate
Suggests: gnus
Conflicts: debbugs-el
Replaces: debbugs-el
Provides: debbugs-el
Section: utils
Description: Access the Debian BTS from within Emacs
 This package contains:
 .
  apt-sources.el: major mode for editing Debian sources.list files;
  apt-utils.el: interface to APT (Debian package management);
  debian-bug.el: an Emacs command to submit a bug report.
  gnus-BTS.el: provides buttons for bug numbers seen in Gnus messages.
 .
 See /usr/share/doc/debian-el/README.Debian.gz for a short
 description of all files.

Package: dpkg-dev-el
Architecture: all
Depends: emacs21 | emacsen, debian-el (>= 22.0-1)
Suggests: dpkg-dev
Recommends: wget
Conflicts: dpkg-dev (<< 1.7.2)
Section: utils
Description: Emacs-related Debian development helpers
 This package contains the following Emacs-related stuff:
 .
  debian-bts-control.el: builds control@bugs.debian.org email messages;
  debian-changelog-mode.el: a helper mode for Debian changelogs;
  debian-control-mode.el: a helper mode for debian/control files;
  debian-copyright.el: major mode for Debian package copyright files.
  readme-debian.el: major mode for editing README.Debian files.
 .
 See /usr/share/doc/dpkg-dev-el/README.Debian.gz for a short
 description of all files.
